# Ignore everything by default
*

# Allow MAKE_PATCH scripts
!MAKE_PATCH.bat
!MAKE_PATCH.sh
!MAKE_PATCH.ps1

# Allow Assets folder and its contents
!Assets/
!Assets/**

# Allow Mod folder (but only .gitkeep file inside)
!Mod/
!Mod/.gitkeep

# Allow .gitignore itself
!.gitignore
